@CHARSET "ISO-8859-1";

#logo{
	float:right;
}

#register{
	float:right;
}

#title{
	width: 100px;
	background-color: yellow;
}

#bouton{
	float:left;
}

#form{
	float:right;
}

#header{
	background-color:RED;
}

 #footer{
	background-color: GREEN;
}

#formRegister{
	widht:200px;
}


